In [1]:
import pandas as pd

In [2]:
rep = pd.read_csv("/outs/clean_rep.csv")

In [3]:
rep.head()

,chr_num,pos,chr,ratio.dip,ratio.hap,rep.slope.hap,rep.slope.dip,rep.sign.hap,rep.sign.dip,rep.fitted.hap,rep.fitted.dip
0,1,501,chr01,1.036939,1.017241,-0.000013,1.623635e-06,-1.0,1,1.031260,1.111428
1,1,1501,chr01,1.150396,1.041379,-0.000011,1.393885e-06,-1.0,1,1.019125,1.112966
2,1,2501,chr01,1.100264,1.062069,-0.000009,8.211543e-07,-1.0,1,1.008771,1.114102
3,1,3501,chr01,1.171504,0.993103,-0.000008,-9.452439e-08,-1.0,-1,1.000222,1.114494
4,1,4501,chr01,1.102902,0.968966,-0.000006,-5.605072e-07,-1.0,-1,0.993187,1.114148

In [4]:
d = []
for row in rep.itertuples():
    for i in range(1000):
        new_row = row._replace(pos = row.pos-500+i)
        d.append(new_row)

d = pd.DataFrame(d)
d.head()

,Index,chr_num,pos,chr,_4,_5,_6,_7,_8,_9,_10,_11
0,0,1,1,chr01,1.036939,1.017241,-0.000013,0.000002,-1.0,1,1.03126,1.111428
1,0,1,2,chr01,1.036939,1.017241,-0.000013,0.000002,-1.0,1,1.03126,1.111428
2,0,1,3,chr01,1.036939,1.017241,-0.000013,0.000002,-1.0,1,1.03126,1.111428
3,0,1,4,chr01,1.036939,1.017241,-0.000013,0.000002,-1.0,1,1.03126,1.111428
4,0,1,5,chr01,1.036939,1.017241,-0.000013,0.000002,-1.0,1,1.03126,1.111428

In [5]:
d = d.drop("Index", axis=1)
d.head()

,chr_num,pos,chr,_4,_5,_6,_7,_8,_9,_10,_11
0,1,1,chr01,1.036939,1.017241,-0.000013,0.000002,-1.0,1,1.03126,1.111428
1,1,2,chr01,1.036939,1.017241,-0.000013,0.000002,-1.0,1,1.03126,1.111428
2,1,3,chr01,1.036939,1.017241,-0.000013,0.000002,-1.0,1,1.03126,1.111428
3,1,4,chr01,1.036939,1.017241,-0.000013,0.000002,-1.0,1,1.03126,1.111428
4,1,5,chr01,1.036939,1.017241,-0.000013,0.000002,-1.0,1,1.03126,1.111428

In [6]:
len(rep)

11450

In [7]:
len(d)

11450000

In [8]:
d.columns = rep.columns
d.head()

,chr_num,pos,chr,ratio.dip,ratio.hap,rep.slope.hap,rep.slope.dip,rep.sign.hap,rep.sign.dip,rep.fitted.hap,rep.fitted.dip
0,1,1,chr01,1.036939,1.017241,-0.000013,0.000002,-1.0,1,1.03126,1.111428
1,1,2,chr01,1.036939,1.017241,-0.000013,0.000002,-1.0,1,1.03126,1.111428
2,1,3,chr01,1.036939,1.017241,-0.000013,0.000002,-1.0,1,1.03126,1.111428
3,1,4,chr01,1.036939,1.017241,-0.000013,0.000002,-1.0,1,1.03126,1.111428
4,1,5,chr01,1.036939,1.017241,-0.000013,0.000002,-1.0,1,1.03126,1.111428

In [9]:
d.to_csv("/outs/cleaner_rep.csv", index=False)